body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Heletica',
		sans-seriff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smooting: grayscale;

}


code {
	font-family: source-code-pro, 'Menlo', 'Monaco', Consolas, 'Courier New',
		monospace;
}

.video-container {
	width: 100%;
	height: 100%;

}

.messaging-container {
	width: 100%;
	height: 100%;
}